.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .post-container {
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .post-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .post-details {
    text-align: left;
  }
  
  .post-details h2 {
    margin-top: 0;
    font-size: 22px;
    color: #333;
  }
  
  .post-details p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  .post-details p:last-child {
    margin-bottom: 0;
  }
  
  /* Estilos para a tag h2 */
.post-details h2 {
    margin-top: 0;
    font-size: 24px; /* Aumentando o tamanho da fonte */
    font-weight: bold; /* Adicionando peso à fonte */
    color: #333;
    padding-bottom: 10px; /* Adicionando espaço abaixo do título */
    border-bottom: 2px solid #ccc; /* Adicionando uma linha de separação */
}

/* Estilos para a tag p */
.post-details p {
    font-size: 18px; /* Aumentando o tamanho da fonte */
    color: #555;
    line-height: 1.8; /* Adicionando um pouco mais de espaço entre as linhas */
    margin-bottom: 10px; /* Adicionando espaço abaixo do parágrafo */
}

/* Removendo a margem inferior do último parágrafo dentro de .post-details */
.post-details p:last-child {
    margin-bottom: 0;
}
