<div class="container">
    <div *ngFor="let post of posts" class="post-container">
      <img [src]="post.image" alt="Imagem do post" class="post-image">
      <div class="post-details">
        <h2>Nome: {{ post.name }}</h2>
        <p>Descrição: {{ post.description }}</p>
        <p>Valor: {{ post.value }}</p>
        <p>Curtida: {{ post.count_like }}</p>
        <p>Usuário que realizou a publicação: {{ post.responsible }}</p>
        <form *ngIf="post.showCommentForm" (ngSubmit)="adicionarComentario(post)" class="comment-form">
          <textarea [(ngModel)]="commentPost" name="comentario" placeholder="Digite seu comentário"></textarea>
          <br>
          <button type="submit">Adicionar Comentario</button>
        </form>
        <button (click)="toggleCommentForm(post)" class="btn-comentar">{{ post.showCommentForm ? 'Encolher' : 'Comentar' }}</button>
        <button (click)="curtirPost(post)" class="btn-curtir">Curtir 👍</button>
      </div>
    </div>
  </div>
  